<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1 style="width: 100%">Create New Account</h1>
  <form method="post">
    <p>
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" placeholder="First Name">
        </input>
    </p>

    <p>
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" placeholder="Last Name">
        </input>
    </p>

    <p>
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Email">
        </input>
    </p>

    <p>
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Username">
        </input>
    </p>

    <p>
        <label for="password">Password</label>
        <input type="text" name="password" placeholder="Password">
        </input>
    </p>

    <p>
        <button type="submit">Create My Account</button>
    </p>
  </form>
</body>
</html>
