<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="style.css">
</head>
<body class = "filterb">
    <!-- code from developers.facebook.com share button configurator -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v15.0" nonce="ljZxJOg2"></script>
    <!-- <form action="/.php"></form>   -->
    <div class = "dropdown">
        <label class="labelf" for="genre">Genre:</label><br>
            <select name="genre" id="genre">
                <option value="">--Please choose an option--</option>
                <option value="action">Action</option>
                <option value="comedy">Comedy</option>
                <option value="drama">Drama</option>
                <option value="fantasy">Fantasy</option>
                <option value="horror">Horror</option>
                <option value="mystery">Mystery</option>
                <option value="romance">Romance</option>
                <option value="science fiction">Science Fiction</option>
                <option value="thriller">Thriller</option>
                <option value="christmas">Christmas</option>
            </select>
        <br>
    <!-- </form> -->
</div>
<br>
<!-- code from developers.facebook.com share button configurator -->
<div class="fb-share-button" data-href="https://www.imdb.com/title/tt6060960/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>

</body>
</html>
