<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- <form action="/.php"></form>   -->
    <div class = "dropdown">
        <label for="fname">Genre:</label><br>
            <select name="genre" id="genre">
                <option value="">--Please choose an option--</option>
                <option value="action">Action</option>
                <option value="comedy">Comedy</option>
                <option value="drama">Drama</option>
                <option value="fantasy">Fantasy</option>
                <option value="horror">Horror</option>
                <option value="mystery">Mystery</option>
                <option value="romance">Romance</option>
                <option value="science fiction">Science Fiction</option>
                <option value="thriller">Thriller</option>
                <option value="christmas">Christmas</option>
            </select>
        <br>
    </class>
    <!-- </form> -->
</body>
</html>
