<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="style.css">
</head>
<body>
<!-- Header / Home-->
  <div class="header">
    <h1 class= “header-text”> Movie Forecast </h1>
    <center><h3>Don't know what to watch? This application can help you choose a movie based on the weather or any other specifications you have!</h3></center>
    <center>
      <button class = "buttons"><a href='/getMovieForWeather'>Weather</a></button>
      <button class = "buttons"><a href='/filter'>Filter</a></button>
    </center>
    <center>
    <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site! https://195441fafe2271.lhr.life" title="Share by Email">
      <img src="http://png-2.findicons.com/files/icons/573/must_have/48/mail.png">
    </a>
  </center>
  </div>
</body>
</html>
