<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="style.css">
</head>
<body class = "bodyp">
    <center>
    <div  class = "weatherp">
        <p><b>Based on your current location's weather, we suggest: </b></p>
    </div>
        {% if name %}
        <h3> {{name}}</h3>
        {% endif %}


        {% if weather %}
        <h3> {{weather}}</h3>
        {% endif %}


        {% if movie %}
        <img src = {{movie}} width="400" height = "500">


        {% endif %}
    </center>
</body>
</html>
